<nav>
    <ul>
      <li>
        <a routerLink="featured">
          <i class="material-icons">movie</i>
        </a>
      </li>
      <li>
          <a routerLink="search">
            <i class="material-icons">search</i>
          </a>
        </li>
    </ul>
  </nav>