
<main>
        <div class="container">
          <div class="row pt-5">
      
            <section class="text-center pb-3">
                <h1 class="font-bold h1 py-5">Featured movies</h1>
                <p class="section-description">From thousands of submissions, our panel of international judges have selected these movies that add or teach content of cultural, philosophical or moral values. Take a look and be inspired!</p>
      
                <!--Grid row-->
                <div class="row justify-content-center">
      
                    <!--Grid column-->
                    <div class="col-7 col-md-4 col-lg-3 align-self-center-sm mb-r">
                        <div class="card card-cascade narrower">
      
                            <div class="view overlay hm-white-slight">
                                <img src="{{ movie01$.Poster }}" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
      
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>{{ movie01$.Year }}</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong><a href="">{{ movie01$.Title }}</a></strong>
                                </h4>
      
                                <p class="card-text">{{ movie01$.Plot }}</p>
                                <div class="card-footer">{{ movie01$.Awards }}</div>
      
                            </div>
      
                        </div>
                    </div>
                    <!--Grid column-->
      
                    <!--Grid column-->
                    <div class="col-7 col-md-4 col-lg-3 align-self-center-sm mb-r">
                        <div class="card card-cascade narrower">
      
                            <div class="view overlay hm-white-slight">
                                <img src="{{ movie02$.Poster }}" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
      
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>{{ movie02$.Year }}</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong><a href="">{{ movie02$.Title }}</a></strong>
                                </h4>
      
                                <p class="card-text">{{ movie02$.Plot }}</p>
                                <div class="card-footer">{{ movie02$.Awards }}</div>
      
                            </div>
      
                        </div>
                    </div>
                    <!--Grid column-->
      
                </div>
                <!--Grid row-->
            </section>
      
          </div>
        </div>
      </main>