/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
body {
    padding: 0;
    height: 100vh;
    font-family: 'Raleway', 'Arial';
    color:#333;
    background: #F2F2F2;
}

h2,p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}

a {
    color:#333;
    text-decoration:none;
}

.boxes > * {
    padding: .5rem;
    background-color: #333;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;

        ul {
            list-style-type: none;
            margin:0;padding:0;
        
            li {
                // background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;
        
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color:#00A8FF;
                }
        
                ul {
                    margin-top: 20px;
                    
                    li {
                        padding:0;
        
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}




