h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    color:#333;
    margin-bottom:0.2em;
  }
  
  h2 {
    font-size: 3em;
  }
  
  .movie-result {
    .movie-plot {
      display: inline;
    }
    .readmore {
      display: inline;
      color: #007bff;
      cursor: pointer;
    }
  
  }

  #search-title {
    width: 60%;
    margin-bottom: 2rem;
  }

  label {
    margin-right: 0.5rem;
  }


  